body {
  margin: 0;
}

.container {
  height: 100vh;
  max-width: 480px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.panel {
  background-color: #eee;
  padding: 24px 32px;
  z-index: 1;
}
.top-panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  align-items: center;
}
.points {
  font-size: 2.2rem;
}
.button {
  padding: 8px;
  width: 125px;
  font-size: 1.2rem;
}
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
  width: 100%; /* 슬라이더 길이 */
  height: 5px; /* 슬라이더 두께 */
  border-radius: 5px; /* 슬라이더 모서리를 약간 둥글게 */
  background: #ccc; /* 슬라이더 색상 */
  outline: none; /* 슬라이더 테두리 없이 */
}

.window {
  height: 100%;
  max-height: 840px;
  position: relative;
  background-color: #311b92;
  overflow: hidden;
}
.ball {
  position: absolute;
  border-radius: 50px;
  background-color: #ffeb3b;
  animation-name: fallingBall;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes fallingBall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1000px);
  }
}
